@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.cards-wrapper::before{
    /* content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgb(243, 244, 246), transparent);
    background: -moz-linear-gradient(to bottom, rgb(243, 244, 246), transparent);
    background: -ms-linear-gradient(to bottom, rgb(243, 244, 246), transparent);
    background: -webkit-linear-gradient(180deg, rgb(243, 244, 246), transparent);
    background: -o-linear-gradient(to bottom, rgb(243, 244, 246), transparent);
    z-index: 500; */
}

.cards-wrapper::after{
    /* content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgb(243, 244, 246), transparent);
    background: -moz-linear-gradient(to top, rgb(243, 244, 246), transparent); 
    background: -ms-linear-gradient(to top, rgb(243, 244, 246), transparent); 
    background: -webkit-linear-gradient(90deg, rgb(243, 244, 246), transparent); 
    background: -o-linear-gradient(to top, rgb(243, 244, 246), transparent); 
    z-index: 500; */
}

.phrase-en{
    
    font-size: 35px;
    /* margin-top: 30px; */

    font-family: 'Kalam', cursive;
}

.nameText{
    background: -webkit-linear-gradient(45deg, rgb(239, 68, 68), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phrase-ru{
    font-size: 45px;
    /* margin-top: 30px; */
    
    font-family: 'Caveat', cursive;
}

.card-text{
    font-family: 'JetBrains Mono', monospace;
    font-size: 32px;
    line-height: 40px;
}

/* .adv-wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, white, transparent);
    z-index: 1000;
} */

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background: white;;
}

body::-webkit-scrollbar-thumb{
    background: rgb(32, 32, 32);
}

.nav-wrapper{
    z-index: 1000;
}

.card{
    transition: transform 300ms ease;
    cursor: pointer;
}

.card:hover{
    /* transform: translateY(-0.5rem) scale(1.02);
    transition: transform 300ms ease; */
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

  .mobileMenu-opened{
    position: absolute;
    animation: slide 300ms ease forwards;
  }


  @keyframes slide {
      from{
        opacity: 0;
        height: 0;
        /* transform: translateY(-100px) */
      }
      to{
        opacity: 1;
        height: auto;
        /* transform: translateY(0) */
      }
  }

.aboutMe{
    
    font-family: 'Neucha', cursive;
    /* font-family: 'Old Standard TT', serif; */
    font-size: 35px;
    margin-top: 30px;
}

.btnCard{
    background: -webkit-linear-gradient(90deg, rgb(239, 68, 68), orange);
}

.btnCard:hover{
    background: -webkit-linear-gradient(90deg, rgb(182, 53, 53), rgb(212, 138, 0));
    
}

.bg-en{
    filter: grayscale(100%) opacity(0.05);
}

.textAbout{
    font-family: 'Neucha', cursive;
    /* font-family: 'Old Standard TT', serif; */
    font-size: 35px;
    margin-top: 30px;
}

body{
    overflow-x: hidden;
}

.request-text{
    background: -webkit-linear-gradient(45deg, rgb(239, 68, 68), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.request-btn{
    background: -webkit-linear-gradient(90deg, rgb(239, 68, 68), orange);
}

.request-btn:hover{
    background: -webkit-linear-gradient(90deg, rgb(182, 53, 53), rgb(212, 138, 0));
}



